/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table, table tr, table td { border-collapse: collapse; vertical-align: top; empty-cells: show; padding: 0; margin: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }

/* LAYOUT */
html { background-color:#fff; }
body { font-family: arial, serif; font-size: 13px; line-height: 18px; color: #292929; padding: 0 20px; }
a { color: #4ca1f1; text-decoration: underline; }
a:hover { text-decoration: none; }

.w995	{ max-width: 1200px; min-width: 940px; margin: 0 auto; margin-top: 35px; }



#bo_header { width: 100%; }
#bo_header td.logo { width: 25%; }
#bo_header .menu { position: relative; }
#bo_header .logout { float: right; text-decoration: none; color: #fff; margin-top: 6px; }
#bo_header .top_menu { width: 100%; height: 30px; }
#bo_header .top_menu td { background-image: url(../images/top_menu_bg.gif); vertical-align: middle; }
#bo_header .top_menu td.l { width: 7px; background-position: 0px 0px; }
#bo_header .top_menu td.m { width: auto; background-position: 0px -30px; background-repeat: repeat-x; }
#bo_header .top_menu td.r { width: 7px; background-position: 0px -60px; }
#bo_header .top_menu td .menulink { color: #fff; float: right; margin-top: 6px; cursor: pointer; }
#bo_header .top_menu td .menulink.left { float: left; }
#bo_header .top_menu td a.menulink.active { font-weight: bold; }
#bo_header .top_menu td .separate { float: right; width: 1px; height: 30px; background: url(../images/top_menu_bg.gif) 0 -90px; margin: 0 7px; }
#bo_header .top_menu td .separate.left { float: left; }
#bo_header .top_menu td .title { color: #fff; float: left; margin-top: 3px; font-size: 18px; font-weight: normal; }

#bo_header .menu #add_page { position: absolute; top: 59px; display: none; z-index: 999; }
#bo_header .menu #add_page table { background: #fff; border: 1px #333333 solid; }
#bo_header .menu #add_page h1 { text-align: center; }
#bo_header .menu #add_page table td { padding: 2px 5px; }

#add_page { position: fixed; bottom: 53px; display: none; z-index:99; background: #ece8d3; }
#add_page table { margin: 10px; }
#add_page h1 { text-align: center; }
#add_page table td { padding: 2px 5px; }
#add_page table td .txt-field { width: 180px; }
#add_page table td .select-field { width: 185px; }

.content				{ overflow: hidden; margin-bottom: 80px; }
.pad15 { padding: 15px; }
.td-icon-17 { width: 27px; text-align: center; }

.tree-site { margin-right: 5%; width: 20%; float: left; }
.tree-site .active { color: #292929; }
.tree-site ul li ul { margin-left: 20px; }
.tree-site li { margin: 10px 0; }
.tree-site ul li ul a { color: #4ca1f1; }
.tree-site ul li a.hidden, .tree-site ul li ul li a.hidden { color: #ACACAC; }
.tree-site ul li a.hidden.active, .tree-site ul li ul li a.hidden.active { color: #292929; }
.tree-site li, .tree-site li a { list-style: none; line-height: 15px; }
.tree-site ul li .drag { cursor: move; background: #EDEEEF; font-size: 75%; }
.tree-site ul li.placeholder { height: 1em; line-height: 1.2em; border: 1px #C4C4C4 dashed; border-radius: 2px; -webkit-border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -khtml-border-radius: 2px; }
.tree-site ul li.movable.empty { font-size: 5px; padding: 0; margin: 0; }
.tree-site.disable_sort ul li.movable .drag { display: none; }
.tree-site.disable_sort ul li.placeholder { display: none; }
.tree-site.disable_sort ul li.movable.empty { display: none; }

.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }

#de_text { padding-top: 15px; }

.rounded-box { border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; -khtml-border-radius: 6px; }

.rounded-top { border-radius: 6px 6px 0 0; -webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px; -moz-border-radius: 6px 6px 0 0; -o-border-radius: 6px 6px 0 0; -khtml-border-radius: 6px 6px 0 0; }
.rounded-bottom { border-radius: 0 0 6px 6px; -webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px; -moz-border-radius: 0 0 6px 6px; -o-border-radius: 0 0 6px 6px; -khtml-border-radius: 0 0 6px 6px; }
.rounded-right { border-radius: 0 6px 6px 0; -webkit-border-top-right-radius:6px; -webkit-border-bottom-right-radius:6px; -moz-border-radius: 0 6px 6px 0; -o-border-radius: 0 6px 6px 0; -khtml-border-radius: 0 6px 6px 0; }
.rounded-left { border-radius: 6px 0 0 6px; -webkit-border-top-left-radius:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius: 6px 0 0 6px; -o-border-radius: 6px 0 0 6px; -khtml-border-radius: 6px 0 0 6px; }

.t-left { text-align: left; }
.t-center { text-align: center; }
.t-right { text-align: right; }

.right-content	{ float: left; background: #f8f8f8; width: 75%; }

.left-col { float: left; width: 25%; }
.right-col { float: left; width: 75%; }

.system-panel				{ background: url(/_bo/i/sys_panel.png) repeat-x; width: 100%; height: 62px; position: fixed; bottom: 0; left: 0; z-index: 100; }
.system-panel .container { margin-top: 22px; }
.system-panel .container .sys-info { width: 300px; float: right; font-size: 11px; color: #c4c4c4; }
.system-panel .container button { border: none; padding: 5px 10px; color: white; cursor: pointer; margin-right: 10px; }
.system-panel .system-panel-buttons { float: left; }
.system-panel .callback { display: none; position: absolute; margin: -30px 0 0 50px; padding: 4px 8px; background: #4CA1F1; color: #fff; border-radius: 6px 6px 6px 0; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius: 6px 6px 6px 0; -o-border-radius: 6px 6px 6px 0; -khtml-border-radius: 6px 6px 6px 0; }
.system-panel .b-save		{
  background: #96D552;
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #36B536),
			color-stop(1, #96D552)
		);
		background-image: -moz-linear-gradient(
			center bottom,
			#36B536 0%,
			#96D552 100%
		);
		background-image: -o-linear-gradient(
			#F4F8FE,
			#CADEF7
		);
}
.system-panel .b-save:hover { background: #36B536; }

.system-panel .b-delete		{
  background: #E69A9A;
  background-image: linear-gradient(bottom, #D63A3A 0%, #E69A9A 100%);
  background-image: -o-linear-gradient(bottom, #D63A3A 0%, #E69A9A 100%);
  background-image: -moz-linear-gradient(bottom, #D63A3A 0%, #E69A9A 100%);
  background-image: -webkit-linear-gradient(bottom, #D63A3A 0%, #E69A9A 100%);
  background-image: -ms-linear-gradient(bottom, #D63A3A 0%, #E69A9A 100%);

  background-image: -webkit-gradient(
   linear,
   left bottom,
   left top,
   color-stop(0, #D63A3A),
   color-stop(1, #E69A9A)
  );
}
.system-panel .b-delete:hover { background: #D63A3A; }

.system-panel .b-preview		{
 background: #DBDBDB;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ACACAC),
		color-stop(1, #DBDBDB)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#ACACAC 0%,
		#DBDBDB 100%
	);
	background-image: -o-linear-gradient(
			#ACACAC,
			#DBDBDB
		);
}

.system-panel .b-preview:hover { background: #ACACAC; }

.b-add-page					{
 background: #DED7AF;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BBAF7A),
		color-stop(1, #DED7AF)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#BBAF7A 0%,
		#DED7AF 100%
	);
	background-image: -o-linear-gradient(
		#BBAF7A,
		#DED7AF
	);
}
.system-panel .b-add-page:hover { background: #BBAF7A; }