.cssform p			{ width: 580px; clear: left; margin: 0; padding: 8px 0 8px 0; padding-left: 230px; border-top: 1px dashed gray; height: 1%; }


/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}

