/* CKEditor re-style */
.cke_chrome { box-shadow: none !important; border-width: 1px 0 1px 0 !important; }

/* Login */
html.login-page { width: 100%; height: 100%; }
.login-page body { width: 100%; height: 100%; background: url(../i/login_bg.jpg); color: white; }
.login-page .bg-gradient { width: 100%; height: 100%; background: url(../i/login_gradient.jpg) no-repeat center center; }

.login-page .container { position: absolute; top: 50%; left: 50%; width: 300px; height: 200px; margin-left: -150px; margin-top: -100px; }
.login-page .container .well { background-color: transparent; border: 1px solid #545454; }
.login-page .container .well input { width: 245px; }


/* Global and re-style bootstramp */
.container { padding-top: 35px; }
.logo_bo { display:block; width: 214px; height: 31px; background: url(../i/logo.gif) no-repeat; }
.row.content-block { margin-top: 25px; margin-bottom: 85px; }
.row.content-block .content-page { background: #f8f8f8; border: 1px solid #e3e3e3; border-radius: 6px; }
.row.content-block .content-page .page-area { padding: 7px 10px; }

span.ajx { cursor: pointer; border-bottom: 1px dashed; color: #08C; }
span.ajx:hover { border-color: transparent; }

.hLine { background: url(../i/border_content_h.gif) repeat-x left bottom; vertical-align: middle; height:2px; }

/* Top Navigations */
.top_nav { background: url(../i/top_menu_bg.gif) repeat-x 0 -30px; border-radius: 6px; color: #fff; }
.top_nav a { text-decoration: underline; color: #fff; }
.top_nav .menulink { float:right; cursor:pointer; padding-top: 4px; color: white; }
.top_nav .menulink.first { padding-left: 7px; }
.top_nav .menulink.last { padding-right: 7px; }
.top_nav .menulink:hover { text-decoration: none; }
.top_nav .separate { background: url(../i/top_menu_bg.gif) repeat scroll 0 -90px transparent; float: right; height: 30px; margin: 0 7px; width: 1px; }

.top_nav .menulink.left, .top_nav .separate.left { float:left; }
.top_nav span.doc-head { color: white; font-size: 18px; padding: 4px 0 0 0; display: block; }

/* Tree site */
.tree-site .active { color: #292929; }
.tree-site a { text-decoration: underline; }
.tree-site ul { margin-left: 10px; }
.tree-site ul li ul { margin-left: 20px; }
.tree-site li { margin: 10px 0; }
.tree-site ul li ul a { color: #4ca1f1; }
.tree-site ul li a.menu_hide, .tree-site ul li ul li a.menu_hide { color: #ACACAC; }
.tree-site ul li a.menu_hide.active, .tree-site ul li ul li a.menu_hide.active { color: #292929; }
.tree-site li, .tree-site li a { list-style: none; line-height: 15px; }
.tree-site ul li.movable .drag { cursor: move; }
.tree-site ul li.placeholder { height: 1em; line-height: 1.2em; border: 1px #C4C4C4 dashed; border-radius: 2px; -webkit-border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -khtml-border-radius: 2px; }
.tree-site ul li.movable.empty { font-size: 5px; padding: 0; margin: 0; }
.tree-site.disable_sort ul li.movable .drag { display: none; }
.tree-site.disable_sort ul li.placeholder { display: none; }
.tree-site.disable_sort ul li.movable.empty { display: none; }

/* Bootstrap additionally */
.icon-tree {
  background-image: url(../i/glyphicons-treemenu.png);
}

.icon-mplus {
  background-position: 0 0;
}

.icon-mminus {
  background-position: -16px 0;
}

.icon-mmodule {
  background-position: -31px 0;
}

.icon-marrow {
  background-position: -46px 0;
}

/* Design content */
.main-news .span3 a.add-news { margin-top: 5px; }
.main-modules ul li a { background: #fff; }
.main-messages .lead a { color: #999999; text-decoration: underline; }
.main-messages .message { font-size: 11px; color: #8d8d8d; }
.main-messages .message p { color: #b4b4b4; line-height: 13px; }

.page-tabs					{ background: #4ca1f1; overflow: hidden; border-radius: 6px 6px 0 0; margin: 0 -1px 0 -1px; }
.page-tabs a				{ color: #ffffff; }
.page-tabs ul li.space-tab	{ float: left; padding: 7px 0; width: 35px; list-style: none; background: url(../i/border_panel.gif) repeat-y right top; }
.page-tabs ul li.tab			{ float: left; list-style: none; }
.page-tabs ul li.tab a.act		{ background: #f8f8f8 url(../i/border_panel_active.gif) repeat-y right top; color: #292929; border-top: 1px solid #4CA1F1; font-weight: bold; }
.page-tabs ul li.tab a		{ display: block; padding: 7px 15px; background: url(../i/border_panel.gif) repeat-y right top; color:#ffffff; text-decoration: none; }

.edit-page { margin-top: 10px; width: 100%; }
.edit-page tr td { background: url(../i/border_content_h.gif) repeat-x left bottom; vertical-align: middle; padding-top: 8px; }
.edit-page tr td label { margin-left: 15px; }
.edit-page tr td .info { margin-left: 15px; font-size: 11px; color: #b4b4b4; margin-top: -4px; }
.edit-page tr td .info2 { padding-left: 15px; font-size: 11px; color: #b4b4b4; }
.edit-page tr td.label { width: 160px; }
.edit-page tr td.quest { width: 30px; text-align: center; }

#add_page { position: fixed; bottom: 53px; display: none; z-index:99; background: #ece8d3; }
#add_page table { margin: 10px; }
#add_page h1 { text-align: center; }
#add_page table td { padding: 2px 5px; }
#add_page table td .txt-field { width: 180px; }
#add_page table td .select-field { width: 185px; }

.system-panel { background: url(../i/sys_panel.png) repeat-x; width: 100%; height: 62px; position: fixed; bottom: 0; left: 0; z-index: 100; }
.system-panel .container { padding-top:0; }
.system-panel .row { margin-top: 23px; }
.system-panel .row .span3 { margin-left: 0; }
.system-panel .sys-info { color: #cccccc; font-size: 12px; line-height: 16px; }

.thumbnails li:nth-child(4n+1) { margin-left: 0; }
.thumbnails .thumbnail { background: white; }
.thumbnails .thumbnail img { margin-bottom: 7px; width: 100%; height: 100%; }
.thumbnails .thumbnail .name { line-height: 15px; white-space: nowrap; overflow: hidden; margin-top: 5px; margin-left: 0; font-weight: bold; position: relative; cursor: pointer; min-height: 20px; }

.overflow-text-white span { display: block; position: absolute; width: 30px; background: url(/_bo/i/overflow_white.png) no-repeat right bottom; margin-top: -15px; right: 0; }


/* Page Index */
.acp_input_files .input_file { margin: 10px 0; }
.acp_files td textarea { display: none; width: 180px; margin-top: 5px; }

/* Page Feedback Item */
.feedback-content { margin-bottom: 30px; }
.feedback-content .row { padding: 0 20px; }
.feedback-content .row div { padding: 8px 0; }
.feedback-content .row div.span2 { text-align: right; font-weight: bold; }

/* Options content */
.padding-block { padding: 20px; }
table tr .info.muted td a { color: #999 !important; }
.sort_move { cursor: move; }
.callback { display: none; position: fixed; top: 50px; right: 50px; width: 200px; box-shadow: 0 0 8px 1px rgba(0,0,0,0.3); }

/* Ajax File Uploder */
.ajax-fileuploader-form { margin-top: 20px; background: #fff; padding: 10px; border: 1px solid #E1E1E8; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.ajax-fileuploader-form .fileinput-button { position: relative; overflow: hidden; float: left; margin-right: 20px; margin-top: -1px; }
.ajax-fileuploader-form .fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }
.ajax-fileuploader-form .progress { margin-bottom: 0px; }
.ajax-fileuploader-img .thumbnail { margin-top: 20px; }
.ajax-fileuploader-img .thumbnail img { margin: 0; }

@media screen\9 { .ajax-fileuploader-form .fileinput-button input { filter: alpha(opacity=0); font-size: 100%; height: 100%; } } /* Fixes for IE < 8 */

/* Galleries Widget CKE Popup */
#galleries_widget td { padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd; }
#galleries_widget tr:hover { background-color: #f5f5f5; }

/* File Library Widget CKE Popup */
#filelibrary_widget td { padding: 8px; line-height: 20px; text-align: left; vertical-align: middle; border-top: 1px solid #dddddd; }
#filelibrary_widget tr:hover { background-color: #f5f5f5; }