/* @font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/PT_Sans-Web-Regular.eot');
  src: local('PT Sans'), local('PTSans-Regular'), url('/fonts/PT_Sans-Web-Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/PT_Sans-Web-Bold.eot');
  src: local('PT Sans'), local('PTSans-Bold'), url('/fonts/PT_Sans-Web-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/PT_Serif-Web-Regular.eot');
  src: local('PT Serif'), local('PTSerif-Regular'), url('/fonts/PT_Serif-Web-Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/PT_Serif-Web-Bold.eot');
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url('/fonts/PT_Serif-Web-Bold.woff') format('woff');
} */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/font?kit=jduSEW07_j4sIG_ERxiq4Q') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('http://themes.googleusercontent.com/font?kit=Pq7I38KtY37kAe5aYFKrSA') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('http://themes.googleusercontent.com/font?kit=HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('http://themes.googleusercontent.com/font?kit=lILlYDvubYemzYzN7GbLkBsxEYwM7FgeyaSgU71cLG0') format('woff');
}