p#tooltip{
	clear:both;
	margin:0;
	padding:5px 10px;
	font-size: 11px;
	line-height: 15px;
}

#tooltip{
	position:absolute;
	border:0px;
 border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; -khtml-border-radius: 6px;
	background:#6db3f5;
	color:#ffffff;
	padding:5px 10px;
	display:none;
	width:210px;
 z-index: 200;
}	