/* ------------------------------------------------------------------------
	Popin
------------------------------------------------------------------------- */

	#overlay {
		background: #000;
		position: absolute; top: 0; left: 0;
		z-index: 10000;
		width: 100%;
	}

	.prettyPopin {
		display: none;
		overflow: hidden;
		position: absolute; z-index: 11000;
		top: 50%; left: 50%;
		/*background: url(/i/prettyPopin/popinLeft.gif) bottom left no-repeat;*/
		background: white;
	}
	
		.prettyPopin a#b_close {
			display: none;
			position: absolute; z-index: 2;
			top: 10px; right: 13px;
			width: 29px; height: 29px;
			text-indent: -10000px;
			background: url(/i/popup_close.gif) bottom left no-repeat;
		}
	
		.prettyPopin .prettyContent {
			position: relative;
			width: 100%; height: 100%;
			font-size: 1.2em;
			/*background: url(/i/prettyPopin/popinRight.gif) bottom right no-repeat;*/
			background: white;
		}
		
			.prettyPopin .prettyContent .prettyContent-container {
				display: none;
				padding: 20px 15px 15px 15px;
			}
		
			.prettyPopin .prettyContent .loader {
				position: absolute;
				top: 50%; left: 50%;
				margin: -14px 0 0 -14px;
    font-size:0;
			}
   
/*----------------- Design form -------------------*/
.popup-form { font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 12px; color: #8d815f; line-height: 1.1; }
.popup-form .title { font-family: 'PT Sans Caption', sans-serif; font-size: 24px; color: #d4bb93; font-weight: normal; line-height: 1.1; margin: 0 0 10px; }
.popup-form table { width: 480px; }
.popup-form table td { padding: 5px 0; vertical-align: top; }
.popup-form table td label { font-size: 14px; text-align: right; }
.popup-form table td .input { width: 302px; padding: 4px 8px; font-size: 12px; }
.popup-form table td textarea.text { width: 302px; padding: 4px 8px; font-size: 12px; }

.popup-form table td .error { border: 1px solid palevioletred; }
.popup-form .return { color: #1FAAE3; text-decoration: underline; cursor: pointer; }