<span class="ajx" onclick="$('#add_user').slideToggle()"><img src="images/icons_cat/cat_add_doc.gif" style="float: left;" /><span class="ajx" style="float: left; font-weight: bold; margin: 1px 0 0 4px;">Добавить пользователя</span></span>
<br />
<br />

<form action="?action=saveUser" id="add_user" method="POST" style="display: none;">
    <input type="hidden" name="uid" value="{$u.uid}"/>
        <table class="data_edit" style="width: auto;">
            <tr>
                <td><label for="login">Логин</label></td>
                <td><input type="text" name="login" id="login" class="text large" value="{$u.login}" /></td>
            </tr>
            <tr>
                <td><label for="login">Пароль</label></td>
                <td><input type="password" name="pwd1" id="pwd1" class="text large" /></td>
            </tr>
            <tr>
                <td><label for="login">E-mail</label></td>
                <td><input type="text" name="email" id="email" class="text large" value="{$u.email}" /></td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <input type="submit" value="Создать" />
                </td>
            </tr>
        </table>
    <br />
</form>

{if (!empty($user_list))}
    <table class="data_table portfolio_list">
        <tr>
            <th>#</th>
            <th>Логин</th>
            <th>Почта</th>
        </tr>
        {foreach from=$user_list item=u}
            <tr>
                <td>{$u.uid}</td>
                <td><a href="?action=access&login={$u.login|stripslashes}">{$u.login}</a></td>
                <td>{$u.email}</td>
            </tr>
        {/foreach}
    </table>
{else}
    Пользователи не найдены
{/if}