
Выберите пользователя или <a href="#" onclick="$('#form').slideToggle();return false;">создайте нового</a>

{include file="access.user_data.tpl"}

<script>
$('#form').css('display', 'none');
</script>