<p>
		Здесь представлено полное дерево сайта. Все разделы доступны для редактирования, но не все из них отображаются на
		сайте в таком виде, в котором они представлены в редакторе. Также существуют разделы, которые находятся в дереве сайта,
		но их содержимое генерируется с помощью дополнительных модулей.
</p>
{if $user_status=='admin'}
<br/><a href="?action=rehash">Пересоздать хэши документов</a><br/><br/>
{/if}

